<html>
    <head>
        <title>Song Titles</title>
    </head>
    <body>
        <h1>Input a Song</h1>
        <form method="POST" action="/sendSong">
            <label for="event_name">Song Name: </label>
            <input type="text" name="song_name" vaue="">
            <label for="event_date">Artist Name: </label>
            <input type="text" name="artist_name" vaue="">
            <label for="name">Reason for Adding: </label>
            <input type="text" name="description" value="">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>